[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0"
sentry-sdk = {extras = ["django"], version = "*"}
python-dotenv = "*"
whitenoise = "*"

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
flake8 = "*"
sphinx = "*"

[requires]
python_version = "3.11"
